ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}
li{
    float: left;
}
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #00e600;
}
li {
    border-right: 1px solid #bbb;
}
li:last-child {
    border-right: none;
}
.active {
    background-color: #4CAF50;
}
li {
    border-right: 1px solid #bbb;
}
body {
    background-color: #33CCFF
}
h1 {
    font-family: "Arial Black", Gadget, sans-serif
}
li{
    font-family: "Arial Black", Gadget, sans-serif
}
p {
    font-family: "Tahoma", Geneva, sans-serif
}
.index {
    float: left;
    margin: 5px;
    padding:15px;
    max-width: 300px;
    height: 300px;
}

a:link {
    color: blue;
}

a:hover {
    color: black
}

a:active {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    width: 50%;
    height: auto;
}